body {
  background-color: rgb(67,107,118);
  font-family: Helvetica;
}

.sliders {
  padding: 20px;
}

.sliders .vs_ui_progressbar {
  margin: 10px 0 10px 0;
}

.sliders .vs_ui_slider {
  margin: 10px 0 10px 0;
  position: relative;
}

.sliders .vs_ui_textlabel {
  display: inline-block;
  width: 30%;
}

.sliders .vs_ui_slider.vertical {
  display: inline-block;
}

