body {
  background-color: rgb(67,107,118);
}

.tabs {
  padding: 10px;
}

.tabs .my_tab > *{
  top:6px;
}

.tabs .navb1 {
  right: 5px;
}

.tabs .navb2 {
  left: 5px;
}

.tabs .segButton2 {
  margin-left: 50%;
  -webkit-transform: translate(-50%,0);
}
